@model IEnumerable<CustomerViewModel>
@{
    ViewData["Title"] = "All Customers";
}

<h1>All Customers</h1>

<p>
    <a asp-action="Create">Create New Customer</a>
</p>

<form asp-action="Search">
    <div class="form-group">
        <label for="SearchName" class="control-label">Search Customer Name</label>
        <input type="text" class="form-control" id="SearchName" name="search" placeholder="Search name goes here" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayPhone)
                </td>
                <td>
                    @* HTML helper ActionLink is a direct alternative to anchor tag helper *@
                    @Html.ActionLink("Order History", "OrderHistory", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>