@model IEnumerable<DoapSoap.BusinessLogic.Models.Customer>

@{
    ViewData["Title"] = "Search Customer";
}



<h1>Customer Search Results For "@ViewData["SearchName"]"</h1>

<form asp-action="Search">
    <div class="form-group">
        <label for="SearchName" class="control-label">Search Customer Name</label>
        <input type="text" class="form-control" id="SearchName" name="search" placeholder="Search name goes here" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayPhone)
                </td>
                <td>
                    @Html.ActionLink("Order History", "OrderHistory", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
