@model IEnumerable<CartViewModel>

<table class="table fadeIn-delay-2" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpiceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var Sum = 0M;
            foreach (var item in Model) {
                var displayPrice = item.Quantity * item.Price;
                Sum += displayPrice;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpiceLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @("$" + String.Format("{0:0.00}", displayPrice))
            </td>
        </tr>
}
        <tr>
            <td>Total: @("$" + String.Format("{0:0.00}", Sum))</td>
        </tr>
        }
    </tbody>
</table>
