@model AddProductViewModel
@{
    ViewData["Title"] = "Add Products";
}

@{
    TempData["SelectedLocID"] = Model.SelectedLocation.ID;
    TempData["SelectedCustID"] = Model.SelectedCustomer.ID;

}

<h1>Add Products To Your Order</h1>
@{
    <h3>Selected Customer: @Model.SelectedCustomer.Name</h3>
    <h3>Selected Location: @Model.SelectedLocation.Name</h3>
}

<form asp-action="AddProducts">
    <div class="form-group">
        <label asp-for="SelectedProductID">Select Product:</label>
        <select asp-for="SelectedProductID" class="form-control">
            @foreach (var item in Model.Inventory)
            {
                <option value="@item.Key.ID">
                    @item.Key.Name | @item.Key.Spice.Name | @item.Key.Price | Available: @item.Value
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedQuantity"></label>
        <input asp-for="SelectedQuantity" class="form-control" type="number" min="1" step="1" />
        <span asp-validation-for="SelectedQuantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </div>
</form>

@Html.ActionLink("Confirm Order", "ConfirmOrder")

<h2>Current Cart</h2>
<div>
    <table class="table">
        @foreach (var item in Model.DisplayCart)
        {
            <tr>
                <td>@item.Key.Name</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
</div>

@Html.ActionLink("Go Back", "PlaceOrder")

