@using Microsoft.AspNetCore.Mvc;

@model PlaceOrderViewModel
@{
    ViewData["Title"] = "Place Order";
}

<h1>Place An Order</h1>

<form asp-action="PlaceOrder">
    <div class="form-group">
        <label for="sel1">Select location:</label>
        <select class="form-control" name="sel1" id="sel1">
            @foreach (var location in Model.locations)
            {
                <option value="@location.ID">@location.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="sel2">Select customer:</label>
        <select class="form-control" name="sel2" id="sel2">
            @foreach (var customer in Model.customers)
            {
                <option value="@customer.ID">@customer.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Update Store Inventory" class="btn btn-primary" />
    </div>
</form>

<a asp-action="AddProduct">Confirm Customer and Location</a>

@{

}

@{
    if (Model.selectedOptions)
    {
        var obj = Context.Session.GetObject<CustomerViewModel>("Cart");
        <h2>customer first name: @obj.FirstName</h2>
        <h1>Selected Customer: @Model.selectedCustomer.Name</h1>
        <h1>Selected Location: @Model.selectedLocation.Name</h1>

        await Html.RenderPartialAsync("_LocationInventory", Model.Products);
    }
}



